<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Krasklik</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="assets/js/jquery.min.js"></script>
</head>
<body class="swiper-slider-wrap">

{% block content %}{% endblock %}
<div class="css3-spinner">
    <div class="css3-spinner-bounce1"></div>
    <div class="css3-spinner-bounce2"></div>
    <div class="css3-spinner-bounce3"></div>
</div>
<script src="assets/js/vendors.js"></script>
<script src="assets/js/application.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>