// Main colors
$base-color: #373737;
$accent-color: #d90033;

// Font configs
$base-font-size: 16px;
$base-line-height: 1.2;

// Font families
$bold: 'exo_2bold', sans-serif;
$light: 'exo_2light', sans-serif;
$medium: 'exo_2medium', sans-serif;
$regular: 'exo_2regular', sans-serif;
$semi-bold: 'exo_2semi_bold', sans-serif;
$extra-light: 'exo_2extra_light', sans-serif;