<div class="modal fade" id="commentsModal" tabindex="-1">
    <div class="modal-comments modal-dialog">
        <a class="close" data-dismiss="modal"><span>&#43;</span></a>
        <div class="modal-content">
            <div class="m-ser">
                <div class="m-ser__figure">
                    <a href="#">
                        <img src="assets/img/hair01.jpg" alt="">
                    </a>
                </div>
                <div class="m-ser__content">
                    <h3>
                        <a href="#">The Fashion for winter</a>
                    </h3>
                    <dl>
                        <dt>Адрес:</dt>
                        <dd>г москва ул. троицкая д.17/1</dd>
                    </dl>
                    <div>
                        <div class="rate-stars">
                            <div class="fill" style="width: 20%"></div>
                        </div>
                        <div class="m-ser__comments-link">
                            <span class="i-comments"></span>
                            <span>8 комментариев</span>
                        </div>
                    </div>
                </div>
                <div class="m-ser__total">
                    <strong>1.000 руб</strong>
                </div>
            </div>
            <div class="m-comments">
                <ul class="m-comments__list">
                    <li class="m-comments__item">
                        <header class="m-comments__item-header">
                            <strong class="m-comments__item-author">Анна Смит</strong>
                            <div class="rate-stars">
                                <div class="fill" style="width: 50%"></div>
                            </div>
                        </header>
                        <div class="m-comments__item-primary">
                            <div class="m-comments__item-date">
                                <span>14 марта. 2017,  14:23</span>
                            </div>
                            <p>Explore a curated selection of unexpectedmen's, women's, home, art and
                                tech accessories from the world's most exciting designers on Fab.com.
                                Shop Fab now.</p>
                        </div>
                    </li>
                    <li class="m-comments__item">
                        <header class="m-comments__item-header">
                            <strong class="m-comments__item-author">Анна Смит</strong>
                            <div class="rate-stars">
                                <div class="fill" style="width: 50%"></div>
                            </div>
                        </header>
                        <div class="m-comments__item-primary">
                            <div class="m-comments__item-date">
                                <span>14 марта. 2017,  14:23</span>
                            </div>
                            <p>Explore a curated selection of unexpectedmen's, women's, home, art and
                                tech accessories from the world's most exciting designers on Fab.com.
                                Shop Fab now.</p>
                        </div>
                    </li>
                    <li class="m-comments__item">
                        <header class="m-comments__item-header">
                            <strong class="m-comments__item-author">Анна Смит</strong>
                            <div class="rate-stars">
                                <div class="fill" style="width: 50%"></div>
                            </div>
                        </header>
                        <div class="m-comments__item-primary">
                            <div class="m-comments__item-date">
                                <span>14 марта. 2017,  14:23</span>
                            </div>
                            <p>Explore a curated selection of unexpectedmen's, women's, home, art and
                                tech accessories from the world's most exciting designers on Fab.com.
                                Shop Fab now.</p>
                        </div>
                    </li>
                    <li class="m-comments__item">
                        <header class="m-comments__item-header">
                            <strong class="m-comments__item-author">Анна Смит</strong>
                            <div class="rate-stars">
                                <div class="fill" style="width: 76%"></div>
                            </div>
                        </header>
                        <div class="m-comments__item-primary">
                            <div class="m-comments__item-date">
                                <span>14 марта. 2017,  14:23</span>
                            </div>
                            <p>Explore a curated selection of unexpectedmen's, women's, home, art and
                                tech accessories from the world's most exciting designers on Fab.com.
                                Shop Fab now.</p>
                        </div>
                    </li>
                    <li class="m-comments__item">
                        <header class="m-comments__item-header">
                            <strong class="m-comments__item-author">Анна Смит</strong>
                            <div class="rate-stars">
                                <div class="fill" style="width: 40%"></div>
                            </div>
                        </header>
                        <div class="m-comments__item-primary">
                            <div class="m-comments__item-date">
                                <span>14 марта. 2017,  14:23</span>
                            </div>
                            <p>Explore a curated selection of unexpectedmen's, women's, home, art and
                                tech accessories from the world's most exciting designers on Fab.com.
                                Shop Fab now.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>