<div class="modal fade" id="replyModal" tabindex="-1">
    <div class="modal-comments modal-dialog">
        <a class="close" data-dismiss="modal"><span>&#43;</span></a>
        <div class="modal-content">
            <div class="m-ser">
                <div class="m-ser__figure">
                    <a href="#">
                        <img src="assets/img/hair01.jpg" alt="">
                    </a>
                </div>
                <div class="m-ser__content m-ser__content_style_no-border">
                    <h3>
                        <a href="#">The Fashion for winter</a>
                    </h3>
                    <dl>
                        <dt>Адрес:</dt>
                        <dd>г москва ул. троицкая д.17/1</dd>
                    </dl>
                </div>
            </div>
            <div class="m-reply">
                <form class="m-reply__form">
                    <div class="m-reply__form__inner-overlay">
                        <div class="form-group">
                            <label for="rate">Поставьте оценку:</label>
                            <input data-js="star-rating" id="rate" name="rate" >
                        </div>
                        <div class="form-group">
                            <label for="comment">Ваш коментарий:</label>
                            <textarea class="form-control" name="comment" id="comment" rows="9"></textarea>
                        </div>
                    </div>
                    <input class="btn" type="submit" value="оставить отзыв">
                </form>
            </div>
        </div>
    </div>
</div>