<footer class="site-footer">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <nav class="footer-nav">
                        <ul class="footer-nav__list">
                            <li class="footer-nav__item"><a href="#">О нас</a></li>
                            <li class="footer-nav__item"><a href="#">Контакты</a></li>
                            <li class="footer-nav__item"><a href="#">Реклама на сайте</a></li>
                            <li class="footer-nav__item"><a href="#">Условия использования</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="footer-carousel owl-carousel">
                        <a href="#"><img src="assets/img/brand-1.png" alt="..."></a>
                        <a href="#"><img src="assets/img/brand-2.png" alt="..."></a>
                        <a href="#"><img src="assets/img/brand-3.png" alt="..."></a>
                        <a href="#"><img src="assets/img/brand-1.png" alt="..."></a>
                        <a href="#"><img src="assets/img/brand-2.png" alt="..."></a>
                        <a href="#"><img src="assets/img/brand-3.png" alt="..."></a>
                        <a href="#"><img src="assets/img/brand-1.png" alt="..."></a>
                        <a href="#"><img src="assets/img/brand-2.png" alt="..."></a>
                        <a href="#"><img src="assets/img/brand-3.png" alt="..."></a>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <dl class="site-social">
                        <dt>мы в соцсетях:</dt>
                        <dd><a href="#"><span class="i-vk"></span></a></dd>
                        <dd><a href="#"><span class="i-fb"></span></a></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__bottom">
        <p class="site-copyright">© 2016 kras klik.</p>
    </div>
</footer>