<div class="pagination-wrap">
    <div class="pagination">
        <div class="pagination__item pagination__item_tar_prev disabled">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </div>
        <div class="pagination__inner">
            <div class="pagination__item"><a href="#">1</a></div>
            <div class="pagination__item"><a href="#">2</a></div>
            <div class="pagination__item"><a href="#">3</a></div>
            <div class="pagination__item"><a href="#">4</a></div>
            <div class="pagination__item active"><span>5</span></div>
            <div class="pagination__item"><a href="#">...</a></div>
            <div class="pagination__item"><a href="#">16</a></div>
            <div class="pagination__item"><a href="#">17</a></div>
            <div class="pagination__item"><a href="#">18</a></div>
        </div>
        <div class="pagination__item pagination__item_tar_next">
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </div>
    </div>
</div>