/**
 * Footer carousel
 */

.footer-carousel {
    margin: 35px auto 5px;
    max-width: 365px;

    .owl-item {
        height: 55px;
        line-height: 55px;
        text-align: center;

        > a {
            vertical-align: middle;
            display: inline-block;
            padding: 0 5px;

            img {
                width: auto;
                display: block;
                margin: auto;
                max-width: 100%;
            }
        }
    }
    .owl-dots {
        margin-top: 5px;
        text-align: center;

        .owl-dot {
            display: inline-block;
            vertical-align: middle;
            padding: 4px;

            span {
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.5);
            }
            &.active {
                span {
                    background-color: #ffffff;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .footer-carousel {
        margin-top: 30px;
        max-width: 290px;

        .owl-item {
            height: 45px;
            line-height: 45px;
        }
    }
}

@media (max-width: 767px) {
    .footer-carousel {
        margin-bottom: 0;

        .owl-item {
            height: 55px;
            line-height: 55px;
        }
        .owl-dots {
            margin-top: 15px;
        }
    }
}