/**
 * Rate stars
 */

.rate-stars {
    width: 106px;
    height: 17px;
    display: inline-block;
    background: url("../img/stars-empty.png") 0 0;
    position: relative;

    .fill {
        position: absolute;
        height: 100%;
        left: 0;
        bottom: 0;
        background: url("../img/stars-fill.png") 0 0;
    }
}

.rating {
    &-container {
        @include font-size(16px);
        position: relative;

        .clear-rating {
            position: absolute;
            top: 0;
            right: 100%;
            cursor: not-allowed;
            font-size: 100%;
            opacity: 0;
            z-index: 22;
        }
    }
    .empty-stars,
    .filled-stars {
        cursor: pointer;
    }
}

.i-empty-star {
    width: 28px;
    height: 27px;
    background: url("../img/single-empty-star.png") no-repeat center;
    display: block;
}

.i-filed-star {
    width: 28px;
    height: 27px;
    background: url("../img/single-filed-star.png") no-repeat center;
    display: block;
}