/**
 * Rate stars
 */

.rate-stars {
    width: 106px;
    height: 17px;
    display: inline-block;
    background: url("../img/stars-empty.png") 0 0;
    position: relative;

    .fill {
        position: absolute;
        height: 100%;
        left: 0;
        bottom: 0;
        background: url("../img/stars-fill.png") 0 0;
    }
}